body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.sidebar {
    width: 180px;
    background-color: #2b2e3b;
    color: white;
    padding: 15px;
    position: fixed;
    height: 100%;
}

.container {
    margin-left: 200px;
    padding: 30px;
    width: 75%;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    display: none;
    margin-top: 20px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    width: 50%;
    margin: 20px 0;
}

#progress div {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    border-radius: 5px;
}

#file-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#file-input::file-selector-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#file-input::file-selector-button:hover {
    background-color: #0056b3;
}

a {
    display: none;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    max-width: 120px;
    margin-bottom: 20px;
}
